### üìä Redfin Housing Market Analysis Workflow

#### [1. Í∏∞Ìöç] -> [2. ÏàòÏßë] -> [3. Ï†ïÏ†ú] -> [4. Î≥ÄÏàò ÏÑ†ÌÉù]

---

### Phase 1: Í∏∞Ìöç Î∞è Îç∞Ïù¥ÌÑ∞ ÏàòÏßë (Planning & Acquisition)
#### 1. Î∂ÑÏÑù ÎåÄÏÉÅ ÏÑ†Ï†ï (Region Selection)

**ÎåÄÏÉÅ:** ÏõåÏã±ÌÑ¥Ï£º ÏãúÏï†ÌãÄ Í¥ëÏó≠Í∂åÏùò ÌÇπ Ïπ¥Ïö¥Ìã∞(King County) vs. ÌîºÏñ¥Ïä§ Ïπ¥Ïö¥Ìã∞(Pierce County)

**ÏÑ†Ï†ï Ïù¥Ïú†**
- Í≤ΩÏ†úÏ†Å Ïó∞Í≤∞ÏÑ±: ÏãúÏï†ÌãÄ(King)ÏùÄ ÏùºÏûêÎ¶¨ Ï§ëÏã¨ÏßÄ, ÌÉÄÏΩîÎßà(Pierce)Îäî ÏúÑÏÑ± ÎèÑÏãú
- ÎπÑÍµê Ïö©Ïù¥ÏÑ±: "ÎèÑÏã¨(Expensive) vs. Ïô∏Í≥Ω(Affordable)" Íµ¨Ï°∞Í∞Ä Î™ÖÌôï

#### 2. Îç∞Ïù¥ÌÑ∞ ÏàòÏßë (Data Collection)

**ÏÜåÏä§:** Redfin "Sold" Data (ÏµúÍ∑º 6Í∞úÏõî)

---

### Phase 2: Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ (Preprocessing & Filtering)
#### 3. Îç∞Ïù¥ÌÑ∞ Î≥ëÌï© Î∞è ÎùºÎ≤®ÎßÅ (Merging)

**ÏûëÏóÖ:** Îëê CSV ÌååÏùº Î≥ëÌï© + COUNTY Ïª¨Îüº ÏÉùÏÑ±

#### 4. Ï£ºÌÉù Ïú†Ìòï ÌïÑÌÑ∞ÎßÅ (Property Type Filtering)

**Ïú†ÏßÄ:** Single Family Residential, Condo/Co-op, Townhouse

**Ï†úÍ±∞:** Mobile/Manufactured Home, Multi-Family

#### 5. ÏÉÅÏãù ÌïÑÌÑ∞ÎßÅ (Common Sense Filtering)

Ï†úÍ±∞ Ï°∞Í±¥: PRICE < $50k, BEDS < 1, SQUARE FEET < 300

In [3]:
# 1. ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏûÑÌè¨Ìä∏
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# ---------------------------------------------------------
# Step 1: Îç∞Ïù¥ÌÑ∞ Î°úÎìú Î∞è Î≥ëÌï© (Phase 1)
# ---------------------------------------------------------
# (ÏΩîÎû©Ïóê ÌååÏùº ÏóÖÎ°úÎìú ÌõÑ Í≤ΩÎ°úÎ•º ÎßûÏ∂∞Ï£ºÏÑ∏Ïöî)
king = pd.read_csv('/content/drive/MyDrive/Data_Science/Redfin/King_County.csv') # ÌååÏùºÎ™Ö Î≥ÄÍ≤Ω ÌïÑÏöî
pierce = pd.read_csv('/content/drive/MyDrive/Data_Science/Redfin/Pierce_County.csv') # ÌååÏùºÎ™Ö Î≥ÄÍ≤Ω ÌïÑÏöî

# Íµ¨Î∂ÑÏûê Ïª¨Îüº Ï∂îÍ∞Ä
king['COUNTY'] = 'King'
pierce['COUNTY'] = 'Pierce'

# Î≥ëÌï©
df = pd.concat([king, pierce], ignore_index=True)
print(f"ÏµúÏ¥à Îç∞Ïù¥ÌÑ∞ Í∞úÏàò: {len(df)}Í∞ú")

# ---------------------------------------------------------
# Step 2: Ìñâ(Row) ÌïÑÌÑ∞ÎßÅ - Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†ú (Phase 2)
# ---------------------------------------------------------

# 1. Ï£ºÌÉù Ïú†Ìòï ÌïÑÌÑ∞ÎßÅ (Ïú†Ìö®Ìïú 3Í∞ÄÏßÄ Ïú†ÌòïÎßå Ïú†ÏßÄ)
valid_types = ['Single Family Residential', 'Condo/Co-op', 'Townhouse']
df_clean = df[df['PROPERTY TYPE'].isin(valid_types)].copy()
print(f"Ï£ºÌÉù Ïú†Ìòï ÌïÑÌÑ∞ÎßÅ ÌõÑ: {len(df_clean)}Í∞ú (Mobile/Multi-family Ï†úÍ±∞)")

# 2. ÏÉÅÏãù ÌïÑÌÑ∞ÎßÅ (Ïò§Î•ò Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞)
# Ï°∞Í±¥: Î©¥Ï†Å 300 Ïù¥ÏÉÅ, Í∞ÄÍ≤© 5ÎßåÎ∂à Ïù¥ÏÉÅ, Ïπ®Ïã§ 1Í∞ú Ïù¥ÏÉÅ
df_clean = df_clean[
    (df_clean['SQUARE FEET'] > 300) &
    (df_clean['PRICE'] > 50000) &
    (df_clean['BEDS'] >= 1)
].copy()
print(f"ÏÉÅÏãù ÌïÑÌÑ∞ÎßÅ ÌõÑ: {len(df_clean)}Í∞ú (Ïò§Î•ò Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞)")

# 3. Ïù¥ÏÉÅÏπò Ï†úÍ±∞ (Í∞ÄÍ≤© ÏÉÅÏúÑ 1% Ï†úÍ±∞)
price_cutoff = df_clean['PRICE'].quantile(0.99)
df_final = df_clean[df_clean['PRICE'] <= price_cutoff].copy()
print(f"ÏÉÅÏúÑ 1% Ï†úÍ±∞ ÌõÑ: {len(df_final)}Í∞ú (ÏµúÏ¢Ö Î∂ÑÏÑù Îç∞Ïù¥ÌÑ∞)")

# ---------------------------------------------------------
# Step 3: Ïó¥(Column) Î≥ÄÏàò Í∞ÄÍ≥µ (Phase 3)
# ---------------------------------------------------------

# 1. Î≥ÄÏàò Ï†úÍ±∞ (Ïã†Î¢∞Ìï† Ïàò ÏóÜÍ±∞ÎÇò Îπà Î≥ÄÏàò)
# LOT SIZE (ÏΩòÎèÑ Í≤∞Ï∏°Ïπò), DAYS ON MARKET (100% Í≤∞Ï∏°Ïπò) Îì±ÏùÑ Ï†úÏô∏ÌïòÍ≥†
# Î∂ÑÏÑùÏóê ÌïÑÏöîÌïú ÌïµÏã¨ Ïª¨ÎüºÎßå ÏÑ†ÌÉù
selected_columns = [
    'PRICE', 'SQUARE FEET', 'YEAR BUILT',
    'BEDS', 'BATHS', 'PROPERTY TYPE', 'COUNTY'
]
df_final = df_final[selected_columns].copy()

# 2. ÌååÏÉù Î≥ÄÏàò ÏÉùÏÑ±
# AGE (Í±¥Î¨º Ïó∞Ïãù)
df_final['AGE'] = 2025 - df_final['YEAR BUILT']

# log_PRICE (Î°úÍ∑∏ Î≥ÄÌôò Í∞ÄÍ≤© - ÌöåÍ∑ÄÎ∂ÑÏÑùÏö©)
df_final['log_PRICE'] = np.log(df_final['PRICE'])

# Price_per_SqFt (ÌèâÎãπ Í∞ÄÍ≤© - ÎπÑÍµê Î∂ÑÏÑùÏö©)
df_final['Price_per_SqFt'] = df_final['PRICE'] / df_final['SQUARE FEET']

# ---------------------------------------------------------
# ÏµúÏ¢Ö ÌôïÏù∏
# ---------------------------------------------------------
print("\n--- ÏµúÏ¢Ö Îç∞Ïù¥ÌÑ∞ÏÖã ÏöîÏïΩ ---")
print(df_final.info())
display(df_final.head())

ÏµúÏ¥à Îç∞Ïù¥ÌÑ∞ Í∞úÏàò: 702Í∞ú
Ï£ºÌÉù Ïú†Ìòï ÌïÑÌÑ∞ÎßÅ ÌõÑ: 670Í∞ú (Mobile/Multi-family Ï†úÍ±∞)
ÏÉÅÏãù ÌïÑÌÑ∞ÎßÅ ÌõÑ: 667Í∞ú (Ïò§Î•ò Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞)
ÏÉÅÏúÑ 1% Ï†úÍ±∞ ÌõÑ: 660Í∞ú (ÏµúÏ¢Ö Î∂ÑÏÑù Îç∞Ïù¥ÌÑ∞)

--- ÏµúÏ¢Ö Îç∞Ïù¥ÌÑ∞ÏÖã ÏöîÏïΩ ---
<class 'pandas.core.frame.DataFrame'>
Index: 660 entries, 1 to 701
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PRICE           660 non-null    float64
 1   SQUARE FEET     660 non-null    float64
 2   YEAR BUILT      660 non-null    float64
 3   BEDS            660 non-null    float64
 4   BATHS           660 non-null    float64
 5   PROPERTY TYPE   660 non-null    object
 6   COUNTY          660 non-null    object
 7   AGE             660 non-null    float64
 8   log_PRICE       660 non-null    float64
 9   Price_per_SqFt  660 non-null    float64
dtypes: float64(8), object(2)
memory usage: 56.7+ KB
None

,PRICE,SQUARE FEET,YEAR BUILT,BEDS,BATHS,PROPERTY TYPE,COUNTY,AGE,log_PRICE,Price_per_SqFt
1,407000.0,923.0,1980.0,2.0,1.0,Condo/Co-op,King,45.0,12.916568,440.953413
2,1300000.0,1065.0,1963.0,2.0,1.0,Condo/Co-op,King,62.0,14.077875,1220.657277
3,825000.0,1690.0,1941.0,3.0,2.0,Single Family Residential,King,84.0,13.623139,488.165680
4,819900.0,1685.0,2025.0,4.0,2.5,Townhouse,King,0.0,13.616938,486.587537
6,470000.0,1670.0,1963.0,6.0,2.0,Single Family Residential,King,62.0,13.060488,281.437126